Perft testing up to depth 6 provided with these results

## Starting position

Depth 1: 20
Depth 2: 400
Depth 3: 8902
Depth 4: 197281
Depth 5: 4865609
Depth 6: 119060324

these are accurate and show a reliable legal move system

<hr>

## Kiwipete

TESTED FEN: r3k2r/p1ppqpb1/bn2pnp1/3PN3/1p2P3/2N2Q1p/PPPBBPPP/R3K2R w KQkq - 0 1

RESULTS:
Depth 1: 48
Depth 2: 2039
Depth 3: 97862
Depth 4: 4085603
Depth 5: 193690690

these are accurate

## 3

TESTED FEN: 8/2p5/3p4/KP5r/1R3p1k/8/4P1P1/8 w - - 0 1 

RESULTS:
Depth 1: 14
Depth 2: 191
Depth 3: 2812
Depth 4: 43238
Depth 5: 674624
Depth 6: 11030083

these are accurate

## 4

TESTED FEN: r3k2r/Pppp1ppp/1b3nbN/nP6/BBP1P3/q4N2/Pp1P2PP/R2Q1RK1 w kq - 0 1

RESULTS:
Depth 1: 6
Depth 2: 264
Depth 3: 9467
Depth 4: 422333
Depth 5: 15833292

these are accurate

## 5

TESTED FEN: rnbq1k1r/pp1Pbppp/2p5/8/2B5/8/PPP1NnPP/RNBQK2R w KQ - 1 8 

RESULTS:
Depth 1: 44
Depth 2: 1486
Depth 3: 62379
Depth 4: 2103487
Depth 5: 89941194

these are accurate

## SOURCE

[SOURCE](https://www.chessprogramming.org/Perft_Results)